h1{
    text-align: center;
    background: grey;
    color: white;
}
ul{
    li{
        padding-left: 15rpx;
        padding-top: 15rpx;
        padding-bottom: 15rpx;
        border-bottom: 2rpx solid grey;
    }
}